<div class="contain">
  <div style="height: 20%; display: flex; align-items: center; justify-content: center;">
    <img style="width: 80%; height:auto" src="../../assets/maduthuong.png" alt="">
  </div>

  <div style="height: 60%;">
    <div style="height: 30%;padding: 0 10%;">
      <ion-label style="font-family: Roboto;
        font-style: normal;
        font-weight: normal;font-size: small;
       color: #828282;">Nhập mã dự thưởng được dán
        trên sản phẩm để nhận lượt quay may mắn</ion-label>
    </div>

    <div style="height: 40%;display: flex; align-items: center; justify-content: center;">
      <input [(ngModel)]="code" (focus)="inputchange()" type="text" class="inputText border" placeholder="Nhập mã vào đây">
    </div>

    <div *ngIf="hasErr" style="height: 30%;display: flex; align-items: center; justify-content: center;">
      <img src="../../assets/ic_error_red_18px.png" alt="">
      <small style="color: red"> Mã không tồn tại. Vui lòng thử lại</small>
    </div>
  </div>

  <div style="height: 20%;">
    <img (click)="submit()" style="height: 100%;" src="../../assets/btnconfirm.png" alt="">
  </div>

</div>