<!-- <div class="content-landing" *ngIf="!isLoadGame">
  <div class="img-landing">
    <img src="{{step[index].image2x}}" alt="">
  </div>
  <div class="title-note">
    <p class="title-landing">{{step[index].title}}</p>
    <p class="note-landing">{{step[index].note}}</p>
  </div>
  <div style="text-align: center;">
    <input *ngIf="step[index].button.length > 1" class="btn-landing btn-40" type="button" value="{{step[index].button[1]?.title}}" (click)="prev(index)">
    <input class="btn-landing" [ngClass]="step[index].button.length > 1 ? index === 1 ? 'btn-40': 'btn-40 btn-primary ' : 'btn-95'"
    type="button" value="{{step[index].button[0].title}}" (click)="next(index)">
  </div>
</div>
<div *ngIf="isLoadGame  && randomWidth !== 100">
  <img src="{{imageAsset}}{{loadGame.background}}" alt=""
  style="height: 100%; position: absolute; width: 100%;">
  <img src="{{imageAsset}}{{loadGame.logo}}" alt="" class="img-logo">
  <img src="{{imageAsset}}{{loadGame.title}}" alt="" class="img-name">
  <img src="{{imageAsset}}{{loadGame.wheel}}" alt="" class="img-wheel">
  <div style="padding: 10%;">
    <div class="progress">
      <div class="bar shadow bars" #progress [ngStyle]="{'width.%': randomWidth}"></div>
    </div>
  </div>
</div>
<luckywheel-main  *ngIf="isLoadGame && randomWidth == 100"></luckywheel-main> -->
<luckywheel-main></luckywheel-main>