<div class="content-landing">
  <div class="img-landing">
    <img src="{{step[index].image2x}}" alt="">
  </div>
  <!-- <div>
    <p class="title-landing">{{step[index].title}}</p>
    <p class="note-landing">{{step[index].note}}</p>
  </div>
  <div>
    <input *ngIf="step[index].button.length > 1" class="btn-landing btn-40" type="button" value="{{step[index].button[1]?.title}}" (click)="prev(index)">
    <input class="btn-landing" [ngClass]="step[index].button.length > 1 ? 'btn-40' : 'btn-100'" type="button" value="{{step[index].button[0].title}}" (click)="next(index)">
  </div> -->
</div>