.content-landing {
  padding: 40px 65px;
  text-align: center;
  .img-landing {
    width: 106%;
  }
  .title-note {
    margin-top: 15%;
    text-align: center;
    margin-bottom: 25%;
    @media (max-width: 480px) {
      margin-bottom: 45%;
    }
    .title-landing {
      font-family: Roboto;
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      color: #20336B;
      margin: 0;
    }
    .note-landing {
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      color: #434343;
      margin: 0;
      margin-top: 4%;
  }
  }
}

.btn-landing {
  background: #FFFFFF;
  border: 1px solid #057DDA;
  box-sizing: border-box;
  border-radius: 47px;
  height: 40px;
  margin-top: 123px;
  color: #057DDA;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 19px;
  margin: 0;
}
.btn-95 {
  width: 95%;
}
.btn-primary {
  background: #057DDA;
  color: #FFFFFF;
}
.btn-40 {
  width: 45%;
}
.btn-40:first-child {
  background: #F5F5F5;
  border: none;
  float: left;
}
.btn-40:nth-child(2) {
  float: right;
}
.progress {
  position: absolute;
  display: inline-block;
  width: 80%;
  height: 20px;
  border: 1px solid #3C5A99;
  background: #161434;
  border-radius: 40px;
  z-index: 1;
  bottom: 10%;
  .bar {
    bottom: 10%;
    border-radius: 40px;
    width: 0%;
    height: 100%;
    transition: width;
    transition-duration: 1s;
    transition-timing-function: cubic-bezier(.36,.55,.63,.48);
  }
  .shadow {
    /* 25 50 */
    box-shadow: 0px 45px 50px rgba(0, 0, 0, 0.25); 
  }
  .bars {
    background-image: url("../../../../assets/images/luckywheel/step4/progress.svg");
  }
}
.img-name {
  height: auto;
  position: absolute;
  width: 67.4%;
  top: 23.2%;
  left: 2.7%;
}
.img-logo {
  z-index: 1;
  width: 22%;
  position: absolute;
  top: 18%;
  left: 22%;
}
.img-wheel {
  position: absolute;
  right: 0;
  top: 10%;
  height: 85%;
  @media (max-width: 480px) {
    top: 13%;
    height: 65%;    
  }
}